h1, h2, h3, h4, h5, h6 {
    margin-top: 8px;
    font-family: 'Alegreya';
    font-family: 'pt serif';
    font-family: 'indie flower';
    font-family: 'muli';
    font-family: 'cabin condensed';
    font-family: 'pt sans';
}

h1 {
    /* text-transform: uppercase; */
    margin-bottom: 0px;
    font-family: 'shadows into light';
    /* font-style: italic; */
    font-weight: bold;
    text-shadow: 1px 1px 0 #ee6, 2px 2px 0 #ccc;
}

h2, h3, h4, h5, h6 {
    /* margin-top: 10px; */
    font-family: 'shadows into light';
    margin: 18px 0 6px 0;
}

body {
    color: #333;
    /* background-color: #f2f2f2; */
    background-color: #ddd;
    /* font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; */
    /* font-family: 'Alegreya'; */
    font-family: 'indie flower';
    font-family: 'muli';
    font-family: 'cabin';
    font-family: 'pt sans';
    font-family: 'pt serif';
    /* font-size: 16px; */
}

.container {
    max-width: 1000px;
}

.right {
    float: right;
    text-align: right;
}

.navbar {
    border-radius: 0;
    box-shadow: 0 0 0 0,0 6px 12px rgba(34,34,34,0.3);
    margin-bottom: 0px;
}

.navbar-default {
    /* background-color: #428bca; */
    /* background-color: #333; */
    /* background-color: #777; */
    background-color: #000;
    border: none;
}

.navbar-default .navbar-brand {
    color: #fff;
    /* font-family: 'Alegreya'; */
    font-family: 'pt serif';
    font-family: 'muli';
    font-family: 'cabin';
    font-family: 'pt sans';
    font-family: 'shadows into light';
    font-family: 'pt serif';
    font-family: 'pt mono';
    /* text-transform: uppercase; */
}

.zshprompt { color: red; }
.zshcursor { color: lightgreen; }

.navbar-default .navbar-brand:hover {
    color: #fff;
}

/* Won't work */
.navbar-default .navbar-brand a:hover {
    transition-delay: 0s;
    transition: 0s display;
}

.navbar-default .navbar-nav li a {
    color: #fff;
    font-family: 'pt sans';
}

.navbar-default .navbar-nav li a:hover {
    color: #fff;
    /* background-color: #3d80ba; */
    background-color: #777;
}

.navbar-default .navbar-nav .active a {
    color: #fff;
    /* background-color: #3d80ba; */
    background-color: #555;
}

.navbar-default .navbar-toggle:hover{
    /* background-color: #3d80ba; */
    background-color: green;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #fff;
}

#sidebar {
    margin-left: 15px;
    margin-top: 50px;
}

#sidebar h3 {
    font-family: 'shadows into light';
}

#content {
    background-color: #fff;
    border-radius: 3px;
    box-shadow: 0 0 0 0,0 6px 12px rgba(34,34,34,0.1);
}

footer {
    font-size: 14px;
    text-align: center;
    padding-top: 75px;
    padding-bottom: 30px;
}

#post-tags {
    /* margin-top: 30px; */
}

#prev-next {
    padding: 15px 0;
}

#post-header {
    margin-bottom: 20px;
}
#post-header h2 {
    font-size: 32px;
}

#post-meta {
    font-size: 14px;
    color: rgba(0,0,0,0.4)
}

#page-header, #post-header {
    border-bottom: 1px solid #dbdbdb;
    margin-bottom: 12px;
}
#page-header h2 {
    font-size: 32px;
}

.imageblock img {
    /* float: left; */
    padding: 0 20px 15px 0;
}

pre {
    overflow-x: auto;
}
pre code {
    overflow-wrap: normal;
    white-space: pre;
}

code {
    /* color: #428bca; */
}

pre, code, .hljs {
    background-color: #f7f9fd;
}

i.fa {
    font-size: smaller;
}

a {
    color: dodgerblue;
}

#sidebar a, #prev-next a {
    font-family: 'helvetica';
    font-family: 'pt sans';
}

@media (min-width: 768px) {
    .navbar {
        /* min-height: 70px; */
        min-height: 20px;
    }
    .navbar-nav>li>a {
        /* padding: 30px 20px; */
        /* padding: 20px 20px; */
    }
}

@media (min-width: 400px) {
    .navbar-default .navbar-brand {
        /* font-size: 36px; */
        /* font-size: 28px; */
        font-size: 22px;
        /* padding: 25px 15px; */
        /* padding: 20px 15px; */
        /* padding: 4px 15px; */
    }
    #content{
        margin-top: 30px;
        padding: 30px 40px;
    }
}


@media (max-width: 399px) {
    body{
        font-size: 14px;
    }
    .navbar-default .navbar-brand {
        font-size: 30px;
    }
    #content{
        padding: 15px;
    }
    #post-meta .right {
        float:left;
        text-align: left;
    }
}
